# ========================

# MAIL CONFIG

# ========================

MAIL_FROM=[noreply@molwebsites.nl](mailto:noreply@molwebsites.nl)
MAIL_NAME="Mol Websites"
MAIL_HOST=smtp.office365.com
MAIL_PORT=587
MAIL_USER=[r.mol@molwebsites.nl](mailto:r.mol@molwebsites.nl)
MAIL_PASS=
MAIL_SECURE=tls
MAIL_DEBUG=0

# ========================

# AUTHENTICATION

# ========================

AUTH_DIFFICULTY=medium
AUTH_LENGTH=12
AUTH_COST=10

AUTH_PEPPER_ALGORITHM=sha512
AUTH_PEPPER_VALUE="7NQEG-q5~#y5V?/x2-_wH1s,@?AIr[|9.3!Vgu?SqC+X-sm+-&lS6481<&[.>V,"

# ========================

# DATABASE

# ========================

DB_HOST=localhost
DB_NAME=fundamental
DB_USER=root
DB_PASS=
DB_PREFIX=
DB_CHARSET=utf8mb4